@model Client.Models.Chat.ChatVm

<div>
<label>Добро пожаловать, @Model.UserName</label>
</div>
<div id="inputForm">
    <input type="text" id="message" class="border border-dark" />
    <button type="submit" class="btn btn-primary">Send</button>
</div>
<div id="chatroom"></div>

<script type="text/javascript">
    //$(document).ready(function () {
    //    var connection = new signalR.HubConnection('/nlo');

    //    connection.on('nlo', data => {
    //        $("#log").append("нло прилетело и оставило это сообщение <br />");
    //    });

    //    connection.start()
    //        .then(() => connection.invoke('BroadcastNlo'));
    //});
</script>


<script src="js/signalr/dist/browser/signalr.min.js"></script>
<script type="text/javascript">
    debugger;
    var hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/chat")
            .build();

        hubConnection.on("Send", function (data) {

            let elem = document.createElement("p");
            elem.appendChild(document.createTextNode(data));
            let firstElem = document.getElementById("chatroom").firstChild;
            document.getElementById("chatroom").insertBefore(elem, firstElem);

        });

        document.getElementById("sendBtn").addEventListener("click", function (e) {
            let message = document.getElementById("message").value;
            hubConnection.invoke("Send", message);
        });

        hubConnection.start();
</script>